.shiny-notification {
    height: 100px;
    width: 800px;
    position: fixed;
    top: calc(50% - 50px);
    ;
    left: calc(50% - 400px);
    ;
}

/*[data-value="scRNA-seq pipeline"] {
    width: 400px;
    background-color: #525252;
}

[data-value="st-seq pipeline"] {
    width: 400px;
    background-color: #525252;
}*/

.tab-pane {
    background-color: transparent;
    width: 100%;
}

.nav-tabs {
    font-size: 20px
}